[submodule "Task1/vendors/googletest"]
	path = Task1/vendors/googletest
	url = https://github.com/google/googletest.git
[submodule "Task2/vendors/googletest"]
	path = Task2/vendors/googletest
	url = https://github.com/google/googletest.git
[submodule "Task3/vendors/googletest"]
	path = Task3/vendors/googletest
	url = https://github.com/google/googletest.git
[submodule "Task4/vendors/googletest"]
	path = Task4/vendors/googletest
	url = https://github.com/google/googletest.git
[submodule "Task5/vendors/googletest"]
	path = Task5/vendors/googletest
	url = https://github.com/google/googletest.git
